@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
.layout{
    display: grid;
    grid-template-rows: 60px 60px auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'sidebar' 'main' 'footer';
    height: 100vh;
}
@media (min-width:480px) {
    .layout{
        display: grid;
        grid-template-rows: 60px auto 60px;
        grid-template-columns: 160px auto;
        grid-template-areas: 
        'header header header'
        'sidebar main main'
        'footer footer footer';

    }
    
}
header{
    grid-area: header;
    background:#19B2FF ;
}
aside{
    grid-area: sidebar;
    background:#B319FF;
}
main{
    grid-area: main;
    background: #F3FF33;
}
footer{
    grid-area: footer;
    background:#4633FF;
}